_Documents_
_rozvrh_

# ALG
ALG/ALG.pdf 
ALG/zk/theory

# APO, refer to https://github.com/ezvezdov/CTU-MZSnake
APO/rvalp.pdf
APO/APOMEM*
APO/zkouška
APO/semestralka
APO/hw/HW02/first_edition
APO/hw/HW02/test-10x8
APO/hw/HW02/*.txt
APO/hw/HW02/main
APO/hw/HW02/*.out
APO/hw/HW02/main.zip
APO/hw/HW04/program
APO/hw/HW04/*.zip
APO/hw/HW04/id.txt
depend
APO/lab/bubble_sort/bubble_sort
APO/lab/lab01/sum2var
APO/lab/lab01/sum2var-riscv
APO/lab/lab01/sum2vars-riscv2
APO/lab/lab05/change_me
APO/lab/lab06/change_me
APO/lab/lab07/change_me
APO/lab/selection_sort/selection_sort

# English
B21
B22

# Ignore BIO, refer to https://github.com/ezvezdov/BIOmetry-project
BIO

# Ignore bachelor thesis, refer to https://github.com/ezvezdov/bachelor_thesis
BP

# Ignore DBS, refer to https://github.com/ezvezdov/DBS_project
DBS

# DLE
DLE/lectures
DLE/seminars
DLE/labs/lab1/lab1.zip
DLE/labs/lab1/belkin-et-al-2019-reconciling-modern-machine-learning-practice-and-the-classical-bias-variance-trade-off.pdf
DLE/labs/lab1/pnas.1903070116.sapp.pdf
DLE/labs/lab2/lab2.zip
DLE/labs/lab3


DMA

# FUP
FUP/lectures
FUP/hw/hw2\ \[Racket\,\ Interpreter\]/Jakub_Strnad_FUP_jak_na_hw2.mkv

# JAG
JAG/Lekce
JAG/jag-text-34.pdf
JAG/Cviveni
JAG/Test/exam
JAG/Test/semestralni_testy
referencni_reseni.pdf
JAG/HW/hw1/JAG01.pdf
JAG/HW/hw2/JAG02.pdf
JAG/HW/hw3/JAG03.pdf
JAG/HW/hw4/JAG04.pdf
JAG/HW/hw5/JAG05.pdf
JAG/HW/hw6/JAG06.pdf
JAG/HW/hw7/JAG07.pdf

JUL
LAG
LGR
MA1
MA2
NUM
OPT
OSY
PDV
PJV
PROJ
PRP
PSIA
PST
RPH
RPZ
UROB
ZUI

# Python
__pycache__

# Asm/C/C++
*.o
