_Documents_
_rozvrh_

# ALG
ALG/ALG.pdf 
ALG/zk/theory

# APO, refer to https://github.com/ezvezdov/CTU-MZSnake
APO/rvalp.pdf
APO/APOMEM*
APO/zkouška
APO/semestralka
APO/hw/HW02/first_edition
APO/hw/HW02/test-10x8
APO/hw/HW02/*.txt
APO/hw/HW02/main
APO/hw/HW02/*.out
APO/hw/HW02/main.zip
APO/hw/HW04/program
APO/hw/HW04/*.zip
APO/hw/HW04/id.txt
depend
APO/lab/bubble_sort/bubble_sort
APO/lab/lab01/sum2var
APO/lab/lab01/sum2var-riscv
APO/lab/lab01/sum2vars-riscv2
APO/lab/lab05/change_me
APO/lab/lab06/change_me
APO/lab/lab07/change_me
APO/lab/selection_sort/selection_sort

# English
B21
B22

# Ignore BIO, refer to https://github.com/ezvezdov/BIOmetry-project
BIO

# Ignore bachelor thesis, refer to https://github.com/ezvezdov/bachelor_thesis
BP

# Ignore DBS, refer to https://github.com/ezvezdov/DBS_project
DBS

# DLE
DLE/lectures
DLE/seminars
DLE/labs/lab1/lab1.zip
DLE/labs/lab1/belkin-et-al-2019-reconciling-modern-machine-learning-practice-and-the-classical-bias-variance-trade-off.pdf
DLE/labs/lab1/pnas.1903070116.sapp.pdf
DLE/labs/lab2/lab2.zip
DLE/labs/lab3

# DMA
DMA

# FUP
FUP/lectures
FUP/hw/hw2\ \[Racket\,\ Interpreter\]/Jakub_Strnad_FUP_jak_na_hw2.mkv

# JAG
JAG/Lekce
JAG/jag-text-34.pdf
JAG/Cviveni
JAG/Test/exam
JAG/Test/semestralni_testy
referencni_reseni.pdf
JAG/HW/hw1/JAG01.pdf
JAG/HW/hw2/JAG02.pdf
JAG/HW/hw3/JAG03.pdf
JAG/HW/hw4/JAG04.pdf
JAG/HW/hw5/JAG05.pdf
JAG/HW/hw6/JAG06.pdf
JAG/HW/hw7/JAG07.pdf

# JUL, refer to https://github.com/ezvezdov/Facial-keypoint-detection
JUL/lectures
JUL/Projekt_zviazyau
JUL/exercises/.gitignore
Manifest.toml

# LAG
LAG

# LGR
LGR/lekce

# MA1
MA1/ma1_lekce.pdf
MA1/ma1-procviceni.pdf

# MA2
MA2/resene priklady
MA2/Priklady_dif.pdf
MA2/priklady_korbelar.pdf
MA2/sbirka.pdf
MA2/resene priklady.zip
MA2/Vzorové zkoušky.pdf

# NUM
NUM/NUMmaterialy
NUM/NMall_print.pdf

# OPT
OPT/lekce
OPT/Zkouska
OPT/opt.pdf
OPT/hw/hw04/hw04.zip
OPT/hw/hw05/hw5.zip

# OSY
OSY/lekce
OSY/hw/hw10\ \[NOVA\,brk\]/brktest
OSY/hw/hw10\ \[NOVA\,brk\]/kern/build 
OSY/hw/hw10\ \[NOVA\,brk\]/kern/include
OSY/hw/hw10\ \[NOVA\,brk\]/kern/src/*
!OSY/hw/hw10\ \[NOVA\,brk\]/kern/src/ec_syscall.cc
OSY/hw/hw10\ \[NOVA\,brk\]/user
OSY/hw/hw10\ \[NOVA\,brk\]/Makefile
OSY/hw/hw10\ \[NOVA\,brk\]/start.sh
OSY/hw/hw11\ \[NOVA\,malloc\,free\]/osy-hw11.zip
OSY/hw/hw11\ \[NOVA\,malloc\,free\]/Makefile
OSY/hw/hw11\ \[NOVA\,malloc\,free\]/user/*
!OSY/hw/hw11\ \[NOVA\,malloc\,free\]/user/mem_alloc.c
OSY/hw/hw11\ \[NOVA\,malloc\,free\]/kern/build
OSY/hw/hw11\ \[NOVA\,malloc\,free\]/kern/include
OSY/hw/hw11\ \[NOVA\,malloc\,free\]/kern/src/*
!OSY/hw/hw11\ \[NOVA\,malloc\,free\]/kern/src/ec_syscall.cc
OSY/hw/hw12\ \[NOVA\,threads\]/osy-hw12.zip
OSY/hw/hw12\ \[NOVA\,threads\]/Makefile
OSY/hw/hw12\ \[NOVA\,threads\]/kern/build
OSY/hw/hw12\ \[NOVA\,threads\]/kern/include
OSY/hw/hw12\ \[NOVA\,threads\]/kern/src/*
!OSY/hw/hw12\ \[NOVA\,threads\]/kern/src/ec_syscall.cc
OSY/hw/hw12\ \[NOVA\,threads\]/user
OSY/hw/hw12\ \[NOVA\,threads\]/start.sh
OSY/hw/hw13\ \[BusyBox\,Linux\ kernel\]/Materials/working_ramdisk
OSY/osy zapisky.pdf
OSY/Osy_rychle_V1.5_unsolved.pdf
OSY/Osy_rychle_V1.5.pdf

# PDV
PDV/prednasky
PDV/lab/slidy
PDV/hw/hw02_openmp/SumsOfVectors.zip
PDV/hw/hw03_cds/hw4_cds.zip
PDV/hw/hw06_detect/src/cz/cvut/fel/agents/pdv/swim/hw06.zip
PDV/hw/hw07_exclusion/src/cz/cvut/fel/agents/pdv/exclusion/hw07.zip
PDV/semestralky/sem_01\ \[BFS\,\ ID-DFS\]/algorithms/sem01_9.5.zip
PDV/semestralky/sem_02\ \[RAFT\]/src/cz/cvut/fel/agents/pdv/student/student_7b.zip
PDV/Zkouska/ZK_05

PJV
PROJ
PRP
PSIA
PST
RPH
RPZ
UROB
ZUI

# Python
__pycache__

# Asm/C/C++
*.o
